body {
    font-family: Poiret One, Arial, Helvetica, sans-serif;
}

.bigwait {
    font-size: 5em;
}


/*
table {
    font-size: 1em;
}

.ui-draggable,
.ui-droppable {
    background-position: top;
}
*/